@use "../styles/editor.scss";
@use "../styles/editor-plugins.scss";

html,
body {
  background: #222;
  color: #ccc;
}

#root {
  @include editor.editor;
  @include editor-plugins.bubble-menu;

  .ProseMirror {
    outline: none;
  }
}
