@use "../styles/screenplay.scss";

#root {
  .ProseMirror {
    @include screenplay.screenplay;
    outline: none;
  }

  .bubble-menu {
    position: absolute;
    width: fit-content;
    padding: .5em;
    background-color: #eee;
    transform: translateY(-50%);
    transition: opacity 0.12s;
    
    &.hidden {
      opacity: 0;
    }
  }
}